* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.Nav-bar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.brand-name {
  display: flex;
}

.brand-name h3 {
  font-family: "Montserrat";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(37, 43, 66, 1);
  padding-left: 9rem;
}
/* .navbar-links {
  display: flex;
  gap: 15px;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
} */

/* @media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    padding: 8px 12px;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
} */

/* .bingo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
} */

/* src/Navbar.css */
/* body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.navbar-logo h3 {
  font-family: "Montserrat";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(37, 43, 66, 1);
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
} */

/* Media Queries for Responsive Design */
/* @media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .bingo {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .navbar-logo h3 {
    position: absolute;
    top: 0%;
    padding: 10px;
    margin: 0;
  }
  .navbar-links.open {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
    position: absolute;
    top: 0%;
    left: 90%;
    padding: 10px;
  }

  .navbar .whole-login {
    display: none;
    border: 1px solid red;
  }
} */
