* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.Nav {
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 20px;

  position: sticky;
  z-index: 100;
}

.Nav-wrapper {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  justify-content: space-between;
  align-items: first baseline;
}

.Nav-logo {
  float: left;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  padding-left: 2rem;
  color: rgba(37, 43, 66, 1);
  /* margin: -8px 2px 1px 15px; */
  transition: 0.2s ease-in;
  text-decoration: none;
  outline: none;
}

.Nav-Element {
  display: inline;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 200;
}

.Nav-Button {
  float: right;
  outline: none;
  text-decoration: none;
  background-color: transparent;

  padding: 5px 10px;
  margin: -8px 2px 1px 2px;
}

.Link {
  text-decoration: none;
  color: #0d1f2d;
  font-size: 20px;
}

.icon {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
}
@media screen and (max-width: 925px) {
  .Nav {
    padding: 25px 0px;
  }
  .Nav-Element {
    display: none;
  }
  .Nav-Button {
    display: none;
  }

  .icon {
    display: inline;
    position: relative;
    left: 45%;
    top: -25px;
  }
}
