.Page1 {
  background-color: rgba(250, 250, 250, 1);
  margin-bottom: 5rem;
}
.Directory {
  display: flex;
  padding-left: 10rem;
  padding-top: 4rem;
  padding-bottom: 2.4rem;
}

.Directory p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  margin-right: 1rem;
  color: rgba(37, 43, 66, 1);
}

.Directory p span {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  margin-left: 1rem;
  color: rgba(189, 189, 189, 1);
}

.Page1-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  background-color: rgba(250, 250, 250, 1);
}

.product-view {
  display: flex;
  justify-content: center;

  text-align: center;
  gap: 20px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center; */
}
.product-view h4 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: rgba(37, 43, 66, 1);
}
.Page1-div img {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.price-details {
  margin: 1rem;
  text-align: left;
}

.price-details h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  color: rgba(37, 43, 66, 1);
}

.price-details h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;

  color: rgba(35, 166, 240, 1);
}

.price-details h6 span {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: rgba(115, 115, 115, 1);
  margin-bottom: 3rem;
}

.line-hr2 {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8rem;
}
.chose-colors {
  display: flex;
}
.color-div img {
  padding: 0.5rem;
}

.button-Icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 1rem;
}

.button-Icons button {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  background-color: rgba(35, 166, 240, 1);
  border-radius: 5px;
  color: white;
  border: none;
}

.icons-sec {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.button-Icons img {
  margin-top: 1rem;
  margin-left: 1rem;
}
/* Page 2 Section */
.Page2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Page2-div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 2rem;
}

.line-hr {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0.5rem;
}

.Page2-div1 p {
  font-family: " Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: rgba(115, 115, 115, 1);
}
.Page2-div1-text-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.Page-div1-text {
  width: 599px;
  height: 327px;
}

.Page-div1-text h5 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(37, 43, 66, 1);
}

.Page-div1-text p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  width: 450px;
  /* height: 60px; */
  margin-top: 1rem;
  color: rgba(115, 115, 115, 1);
}

/* Page 3 section */

.Page3 {
  background-color: rgba(250, 250, 250, 1);
}

.Page3 h3 {
  margin-top: 5rem;
  padding-top: 5rem;
  padding-left: 5rem;

  font-family: " Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

/* Page 4 section */

.Page4 {
  background-color: white;
}

.Icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}
