* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
.Top-information {
  background-color: rgba(35, 133, 109, 1);
  display: flex;
  width: 100%;
  height: 5.8rem;
  padding: 9px 0px 3px 24px;
  justify-content: space-between;
}
.call-me {
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-me h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.Mail-Icom-Email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Mail-Icom-Email h6 {
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.advert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.advert h6 {
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.Socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
}

.Socials h6 {
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
